* {
	color: #e1c492;
	background: #202020;
}

*:hover {
	color: #ddd;
}

*:disabled {
	color: #444;
}

QToolTip {
	color: #111;
}

QComboBox, QTabBar::tab, QTabWidget > * QWidget, QTabWidget QCheckBox {
	color: rgb(172, 170, 254);
	background: #010b00;
}

QComboBox {
	padding: 2px 5px;
	border: 1px solid #000;
	border-radius: 4px;
}

QLineEdit {
	padding: 3px;
	background: #0d0d0d;
	border: 1px solid #414141; 
	border-radius: 4px;
}

QPushButton {
	color: #10ea01;
	padding: 5px;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #306a03, stop: 1.0 #2a3e07);
	border: 1px solid #386508; border-radius: 4px;
}

QPushButton:hover, QTabBar::tab:selected, QTabBar::tab:hover {
	color: #fff;
}

QTabBar {
	background-color: transparent !important;
}

QTabBar::tab {
	height: 22px;
 
	border: 1px solid #000; 
	border-bottom: 0;

	padding-top: 1px;
	padding-left: 14px;
	padding-right: 14px;
	margin-right: 1px;
}

QTabBar::tab:hover {
	background: rgb(21, 21, 21);
	height: 23px;
}

QTabBar::tab:selected {
	background: rgb(21, 21, 21);
	border: 1px solid rgb(100, 100, 100);
	height: 23px;
	padding-bottom: 2px;
	border-bottom: 0;
}

QTabWidget::pane {
	border: 1px solid rgb(100, 100, 100);
	margin-top: -1;
}

QTabWidget > * QWidget, QTabWidget QCheckBox {
	background: rgb(21, 21, 21);
}